{% extends "main.html" %}
{% block menu%}
<div class="tabs">
	<a href="/logout"><div class="switch">Logout</div></a>
</div>
{% endblock %}
{% block welcome%}
<div class="userwelcome">Welcome {{uname}}</div>
{% endblock %}
{% block content%}
<center>
<form method="POST">
	{% csrf_token %}
    {% if verified != None %}{% if verified == True %} <script>document.getElementById("Profile").style.display = "block";</script> {% endif %}{% endif %}
    {% if verified != None %}{% if not verified %} {% if applied != None %}{% if not applied %}
    		</br>Please Update Your Information</br><table>{{form.as_table}}</table>
			</br></br><button class="btn btn-primary" type="submit">Apply for Verification</button>{% endif %}
	{% if applied %} </br></br>Your account is not verified. Please Login after sometime.</br></br><button class="btn btn-secondary" name="button-action" value="edit_profile" type="submit">Allow Edit Profile</button> {% endif %}
	{% endif %}{% endif %}{% endif %}
</form>
</center>
<script>
    function selecttab(event, name){
    	var index, tabs, switches;
    	tabs = document.getElementsByClassName("tab");
    	switches = document.getElementsByClassName("switch");
    	for (index=0; index<tabs.length; index++){
    		tabs[index].style.display = "none";
    		switches[index].className = switches[index].className.replace(" active","")
    	}
    	document.getElementById(name).style.display = "block";
    	event.currentTarget.className += " active";
    }    
</script>    
{% endblock %}
