{% extends "main.html" %}
{% block menu%}
<div class="tabs">
    <a href="/user/admin"><div class="switch">Profile</div></a>
    <a href="/user/admin/verify"><div class="switch">Verify</div></a>
    <a href="/user/admin/certificate"><div class="switch">Certificates</div></a>
    <a href="/user/admin/otp"><div class="switch">OTP Requests</div></a>
    <a href="/user/admin/faculty"><div class="switch">Faculty</div></a>
    <a href="/logout"><div class="switch">Logout</div></a>
    </div>
    {% endblock %}
{% block welcome%}
<div class="userwelcome">Welcome {{uname}}</div>
{% endblock %}
{% block content%}
<div>
<form method="POST">
       {% csrf_token %}
        <table>
       {{new_data.as_table }}
        </table>
       <center> <button class="btn btn-primary" type="submit">Add New Certificate</button></center>
    </form>
</div>
<div>{{ data }}</div>
{% endblock %}
