{% extends "main.html" %}
{% block menu%}
<div class="tabs">
	<a href="/user/faculty"><div class="switch">Profile</div></a>
	<a href="/user/faculty/dashboard"><div class="switch">Dashboard</div></a>
	<a href="/user/faculty/otp"><div class="switch">OTP Requests</div></a>
	<a href="/user/faculty/verify"><div class="switch">Verify</div></a>
	<a href="/logout"><div class="switch">Logout</div></a>	
</div>
{% endblock %}
{% block welcome%}
<div class="userwelcome">Welcome {{uname}}</div>
{% endblock %}
{% block content%}
<center>
	<div>
	{{data}}
	</div>
</center>
{% endblock %}
