{% extends "main.html" %}
{% block menu%}
<div class="tabs">
<a href="/user/student"><div class="switch">Profile</div></a>
<a href="/user/student/dashboard"><div class="switch">Dashboard</div></a>
<a href="/user/student/newcertificate"><div class="switch">Upload</div></a>
<a href="/logout"><div class="switch">Logout</div></a>
</div>
{% endblock %}
{% block welcome%}
<div class="userwelcome">Welcome {{uname}}</div>
{% endblock %}
{% block content%}
<div>
<form method="POST">
       {% csrf_token %}
        <table>
       {{new_data.as_table }}
        </table>
       <center> <button class="btn btn-primary" type="submit">Add New Certificate</button></center>
    </form>
</div>
<center>
	<div>
	{{data}}
	</div>
</center>
{% endblock %}
